<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>Frequent deleters</title>
</head>
<body>
<div class="sticky-top container-fluid text-center" style="margin: 20px auto;">
    <div class="dropdown show">
        <button type="button" class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" aria-pressed="false">
            Preferred name language
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="dropdown-item" id="Default"
               onclick="Cookies.set('nameLanguage', 'Default'); location.reload()">Default</li>
            <li class="dropdown-item" id="Japanese"
               onclick="Cookies.set('nameLanguage', 'Japanese'); location.reload()">Non-English</li>
            <li class="dropdown-item" id="Romaji"
               onclick="Cookies.set('nameLanguage', 'Romaji'); location.reload()">Transliterated</li>
            <li class="dropdown-item" id="English"
               onclick="Cookies.set('nameLanguage', 'English'); location.reload()">English</li>
        </ul>
    </div>
</div>
<div style="margin-bottom: 20px; margin-left:  2%; margin-right: 2%; z-index: 0">
    <div id="accordion">
        {% for deleter in deleters %}
        {% if (artistId == deleter.id) %}
        <div class="card" style="margin-top: 10px; margin-bottom: 10px">
            <div class="card-header" id="_{{ deleter.id }}">
                <h5 class="mb-0">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#__{{ deleter.id }}"
                                        aria-expanded="true" aria-controls="__{{ deleter.id }}"
                                        style="pointer-events: none">
                                    <i class="fas fa-angle-down"></i> {{ deleter.name }}
                                    {% if deleter.type[0] == 'P' %}
                                    <span class="badge badge-pill badge-primary mb-0" style="margin-left: 3px">
                                    {% elif deleter.type[0] == 'C' %}
                                    <span class="badge badge-pill badge-dark mb-0" style="margin-left: 3px">
                                    {% else %}
                                    <span class="badge badge-pill badge-secondary mb-0" style="margin-left: 3px">
                                    {% endif %}
                                        {{ deleter.type[0] }}
                                    </span>
                                </button>
                            </td>
                            <td style="width: 10%"><a type="button" class="btn btn-primary btn-sm"
                                                      href="https://vocadb.net/Ar/{{ deleter.id }}" target="_blank">
                                <i class="fas fa-angle-double-right" style="margin-right: 3px"></i>VocaDB</a>
                            </td>
                        </tr>
                    </table>
                </h5>
            </div>
            <div id="__{{ deleter.id }}" class="show" aria-labelledby="_{{ deleter.id }}" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-hover" data-search="true">
                        <thead>
                        <tr>
                            <th class="col-lg-1">Id</th>
                            <th class="col-lg-4">Name</th>
                            <th class="col-lg-5">Featured artists</th>
                            <th class="col-lg-1">
                                <a type="button" class="btn btn-primary active" id="originals" onclick="toggle('originals')">Available</a></th>
                            <th class="col-lg-1">
                                <a type="button" class="btn btn-primary active" id="reprints" onclick="toggle('reprints')">Reprinted</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in songs %}
                        <tr id="s_{{ song.id }}" class="">
                            <td><a onclick="highlight('s_{{ song.id }}')" href="https://vocadb.net/S/{{ song.id }}" target="_blank">{{ song.id }}</a></td>
                            <td>{{ song.name }}</td>
                            <td>{{ song.artistString }}</td>
                            <td>
                                {% if (song.deleted) %}
                                ❌
                                {% else %}
                                ✔️
                                {% endif %}
                            </td>
                            <td>
                                {% if (song.reprinted) %}
                                ✔️
                                {% else %}
                                ❌
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-header" id="_{{ deleter.id }}">
                <h5 class="mb-0">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <button class="btn btn-link"
                                        onclick="refresh({{ deleter.id|safe }})">
                                    <i class="fas fa-angle-right"></i> {{ deleter.name }}
                                    {% if deleter.type[0] == 'P' %}
                                    <span class="badge badge-pill badge-primary mb-0" style="margin-left: 3px">
                                    {% elif deleter.type[0] == 'C' %}
                                    <span class="badge badge-pill badge-dark mb-0" style="margin-left: 3px">
                                    {% else %}
                                    <span class="badge badge-pill badge-secondary mb-0" style="margin-left: 3px">
                                    {% endif %}
                                        {{ deleter.type[0] }}
                                    </span>
                                </button>
                            </td>
                            <td style="width: 10%"><a type="button" class="btn btn-primary btn-sm"
                                                      href="https://vocadb.net/Ar/{{ deleter.id }}" target="_blank">
                                <i class="fas fa-angle-double-right" style="margin-right: 3px"></i>VocaDB</a>
                            </td>
                        </tr>
                    </table>
                </h5>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

</body>
<script>
    function highlight(song) {
        document.getElementById(song).style.backgroundColor = 'rgba(0,0,0,.04)';
    }

    window.addEventListener('load', (event) => {
        document.getElementById("{{ lang|safe }}").className = 'dropdown-item active';
        if ({{ artistId }} != -1)
        {
            if (Cookies.get('artistId') !== '{{ artistId|safe }}') {
                Cookies.set('artistId', '{{ artistId|safe }}', {expires: 100000, sameSite: 'lax'});
                document.getElementById('_' + Cookies.get('artistId')).scrollIntoView();
            }
        }
        Cookies.set('nameLanguage', '{{ lang|safe }}', { expires: 100000, sameSite: 'lax'});
    });

    function refresh(artistId) {
        window.location.replace('/?artistId=' + artistId);
    }

    function toggle(type) {
        let song_ids = (type === 'originals') ? {{ songs|selectattr('deleted', 'false') | map(attribute='id')|list }} : {{ songs|selectattr('reprinted', 'true') | map(attribute='id')|list }};
        for (let i = 0; i < song_ids.length; ++i) {
            if (document.getElementById("s_" + song_ids[i]).className === "d-none") {
                    document.getElementById("s_" + song_ids[i]).className = "";
                    document.getElementById(type).className = "btn btn-primary active";
                }
                else {
                    document.getElementById("s_" + song_ids[i]).className = "d-none";
                    document.getElementById(type).className = 'btn btn-primary';
                }
            }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>